@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap");

$bg-body: #f2f5fa;
$font-primary: "Muli", sans-serif;
$base-font: 15px;
$white: #ffffff;
$black: #282828;
$muted: #8a98ac;
$primary: #0080ff;
$secondary: #93b4d4;
$success: #18d26b;
$danger: #ff3f3f;
$warning: #ffa800;
$info: #00b8d4;
$light: #f7f9fb;
$dark: #263a5b;
$lightgray: #d4d4d4;
$primary-rgba: rgba(0, 128, 255, 0.1);
$secondary-rgba: rgba(129, 167, 205, 0.1);
$success-rgba: rgba(24, 210, 107, 0.1);
$danger-rgba: rgba(255, 63, 63, 0.1);
$warning-rgba: rgba(255, 168, 0, 0.1);
$info-rgba: rgba(0, 184, 212, 0.1);
$light-rgba: rgba(212, 216, 222, 0.1);
$dark-rgba: rgba(38, 58, 91, 0.1);
$bg-primary-gradient: linear-gradient(58deg, #0080ff 0, #969efa 100%);
$bg-secondary-gradient: linear-gradient(58deg, #bcc4dc 0, #e6e8f0 100%);
$bg-success-gradient: linear-gradient(58deg, #08d26f 0, #45e396 100%);
$bg-danger-gradient: linear-gradient(58deg, #fc4f68 0, #ff8181 100%);
$bg-warning-gradient: linear-gradient(58deg, #ffe411 0, #fef07f 100%);
$bg-info-gradient: linear-gradient(58deg, #81cef6 0, #a7daf5 100%);
$bg-light-gradient: linear-gradient(58deg, #e9eff9 0, #f8fbff 100%);
$bg-dark-gradient: linear-gradient(58deg, #2e2e2e 0, #4c4c4c 100%);
$shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
$btn-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$menu-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$width: 100%;
$height: 100%;
$search-bg-color: #4a5263;
$topbar-bg-color: #ffffff;
$card-bg: #ffffff;
$heading-color: #263a5b;
$border-color: rgba(0, 0, 0, 0.03);
$table-color: #263a5b;
