@page {
    header: page-header;
    footer: page-footer;
}

table.table-style-report-header {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #000000;
  border-collapse:collapse;
  width: 100%;
  text-align: center;
}
.university-name{
  font-size: 14px;
  letter-spacing: 2px;

}
.university-address .university-phone{
  font-size: 10px;
}
.report-page-footer{
  font-size: 9px;
  width: 80%;
  float: left;
}
.report-name{
  padding-bottom: 5px;
  border-bottom: #000000;
  font-weight: bold;
}
.report-page-footer-page{
  width: 15%;
  font-size: 9px;
  text-align: right;
}

table.table-style-one {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #000000;
  border-collapse:collapse;
  width: 100%;
}

table.table-style-one td {
  border:0px;
}


table.table-style-two {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #000000;
  border-collapse: collapse;
  width: 100%;
}

table.table-style-two th {
  padding: 5px;
  border-top: .5px solid #000000;
  border-bottom: .5px solid #000000;
  border-left: .5px solid #000000;
  border-right: .5px solid #000000;
  background-color: #ECF0F1;
}
table.table-style-two th.table-header1 {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}
table.table-style-two th.table-header2 {
  /*background-color: #ffffff;*/
  font-size: 10px;
  /*font-weight: bold;*/
  text-align: center;
}
table.table-style-two th.rotatedcell {
  text-decoration: line-through;
  color: #CC0000;
  text-rotate: 90;
}


table.table-style-two tr:hover td {
  background-color: #DFEBF1;

}

table.table-style-two td {
  padding: 5px;
  border-bottom: .5px solid #000000;
  border-left: .5px solid #000000;
  border-right: .5px solid #000000;
  background-color: #ffffff;
}
.logo{
  width: 100%;
  text-align: center;
}
.university-name{
  text-align: center;
}

div.rotate-45 {
  -ms-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform:rotate(270deg);
  display: inline-block;
  width: 200px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /* white-space: nowrap; *//*whether to display in one line or not*/
}

.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.student-detail-cell-label-pdf{
    font-size: 13px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    padding-bottom: 6px;
}
.student-detail-cell-value-pdf{
    font-size: 13px;
    padding-bottom: 6px;
}
.student-detail-seperator-heading-pdf {
    font-size: 14px;
    font-weight: bold;
    color: #593d84;
    width: 100%;
    border-bottom: 1px dashed #000000;
    padding-left: 0;
}

.green-label{
  display: inline;
  padding: 5px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #c6d3d7;
}

.report-container{
    border: .1em solid #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 3px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
    height: 408px;
}

.mid-text{
    font-size: 11px;
}

.breakNow { page-break-inside:avoid; page-break-after:always; }

.cellpadding {
  padding: 5px !important;
  border: 0.5px solid #A7A7A7;
  box-shadow: 1px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;


}
.paymentHead {
  padding: 4px !important;
  background: #7F7F7F; 
 font-size: 16px;
 font-weight: 600;
 color: #fff;
 border: 0.6px solid;
 border-radius: 1px;
 font-weight: 600;
}
.paymentHeadCopy {

  background: #D9D9D9; 
 color: #000;
 border: 1px solid;
  box-shadow: 2px #eee;
   border-radius: 1px;
}
